<h1 class="text-center">Menu de administrador</h1>


<div class="container my-5 p-1  w-100">
    <div class="pt-4 wrapper">
        <h4 class="text-center">Opciones</h4>
    <div class=" mt-5 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 m-auto">
    <div class="d-flex justify-content-center flex-column">
        <button type="button" class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#ShowAll">
            Mostrar productos
          </button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Create">
            Crear producto
          </button>
    </div>
    </div>
    </div>

    <app-modals></app-modals>